body {
  line-height: 1.5;
}

#email {
}

#message {
}

#submit {
  color: darkcyan;
  background-color: #2a607c;
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}
